<!--The content below is only a placeholder and can be replaced.-->
<h1> Welcome to {{ title }}! </h1>

<mat-form-field>
  <input matInput placeholder="Simple Input" [(ngModel)]="title">
</mat-form-field>

<mat-icon>home</mat-icon>
<br>

<button mat-raised-button>I'm a button</button>
<br>
<br>

<mat-form-field>
  <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{item.view}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>

<mat-form-field class="example-user-input">
  <mat-select placeholder="Tooltip position" [formControl]="position">
    <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
      {{positionOption}}
    </mat-option>
  </mat-select>
</mat-form-field>
  
<button mat-raised-button matTooltip="Info about the action" [matTooltipPosition]="position.value" aria-label="Button that displays a tooltip in various positions">
  Action
</button>
<br>
<br>
<br>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
  
  


<router-outlet></router-outlet>
